Repository cmadland/edci338-202201, pull requests merged in 2022-03, with the labels that each got.

#114 red
  assets/屏幕快照 2022-03-05 下午4.38.00.png
Labels: Learning Pod 10, RED

#116 Add files via upload
  assets/截屏2022-03-06 上午9.30.36.png
Labels: Learning Pod 10

#130 Add files via upload
  assets/zenly/Persona -- Zenly.png
Labels: Zenly

#131 Update 16-zenly.Rmd
  16-zenly.Rmd
Labels: Zenly

#137 Pod 8 Personas
  15-instagram.Rmd
  assets/instagram/EDCI_Persona.PNG
  assets/instagram/Persona1.png
  assets/instagram/Persona3.png
  assets/instagram/test
Labels: Learning Pod 8

#141 Learning Pod 1-tiktok.Rmd
  08-tiktok.Rmd
Labels: Learning Pod 1

#165 learning pod 1
  08-tiktok.Rmd
  assets/persona2.png
  index.Rmd
Labels: Learning Pod 1

#183 Learning Pod 9 - Added demographics
  16-zenly.Rmd
Labels: Learning Pod 9

#185 First Draft Merge
  15-instagram.Rmd
Labels: Learning Pod 8, instagram

#192 Social Media and your PLN and rest part
  16-zenly.Rmd
Labels: Learning Pod 9

#198 Major Project - Everything added
  15-instagram.Rmd
Labels: Learning Pod 8, instagram

#200 Major project - Final request
  15-instagram.Rmd
Labels: Learning Pod 8, instagram

#208 Major Project Update - Learning Pod 2
  09-facebook.Rmd
  assets/facebook/educational-post-1.PNG
  assets/facebook/educational-post-2.PNG
  assets/facebook/reactions.png
Labels: Learning Pod 2, Facebook

#213 Contributions to "Privacy and Surveillance" + Formatting - Learning Pod 2
  09-facebook.Rmd
Labels: Learning Pod 2, Facebook

#216 Corrrections - major project
  15-instagram.Rmd
Labels: Learning Pod 8, instagram
